doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="http://localhost:3000/styles/main_style.css")
        link(rel="stylesheet", href="/styles/layout_style.css")
        title PUG || TEST
    body
       header.header 
           include ./components/nav.pug
       h2 welcome back bb
       main.main__content
          block content